:root {
  font-family: sans-serif;
  font-size: 16px;

  --app-surface-color: light-dark(#ffffff, #000000);
  --app-surface-container-color: light-dark(#808080, #404040);
  --app-on-surface-color: light-dark(#000000, #f3b0fc);

  --app-brand-primary-color: #ff0000;

  --app-primary-color: light-dark(
    var(--app-brand-primary-color),
    color-mix(in srgb, var(--app-brand-primary-color), #ffffff 75%)
  );
  color-scheme: light dark;

  color: var(--app-on-surface-color);

  background-color: var(--app-surface-color);

  &[data-theme='light'] {
    color-scheme: light;
  }

  &[data-theme='dark'] {
    color-scheme: dark;
  }
}
.btn-lab {
  display: inline-block;
  text-decoration: none;
  color: blue;
  border: 1px solid blue;
  padding: 6px 12px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px;
  background-color: white;
  transition: all 0.2s;

  &:hover {
    background-color: #e6f0ff;
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

svg {
  display: flex;
  size: 20px;
}

.headcen {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;

  svg.angular-logo {
    height: 60px;
    width: auto;
  }
}
